
#body{
	display: flex;
	height: 100%;
	width: 100%
}

#search{
	display: flex;
	//height: 100vh;
	width: 250px;
	background-color: #2E2D2D;
}

#chat-format{
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	background-color: #674C4C;
}

#messageList{
	display: flex;
	flex-direction: column;
}

#sentMessage{
	display: flex;
	justify-content: flex-end;
	background: #016ABC;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	text-shadow:none;
	padding: 3px;
	margin: 2px;


}

#receivedMessage{
	display: flex;
	justify-content: flex-start;
	background: #016ABC;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	text-shadow:none;
	padding: 3px;
	margin: 2px;
}

#chat{
	display: flex;
	width: 100%;
	height: 100%;
	/*background-color:#7F5E5E;*/
	//background-color: #674C4C;

	justify-content: center;
}

#send-msg-format{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding: 0px;
	flex-direction: row;
	//background-color: black;
}

#box{
	display: flex;
	flex-direction: row;
	padding: 10px
}

#send-msg-box{
	display: flex;
	flex-direction: column;
}

#submit-box{
	display: flex;
	padding: 10px;
}

#send-msg{
	background-color: #975454;
	width: 95vh;
	height: 50px;
	border-radius: 5px;
	border: 1px solid white;
	color: white;
}

#form-submit-button {

	display: flex;
	background: #B9DFFF;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	text-shadow:none;
}

#form-submit-button:hover {
	background: #016ABC;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow:none;
}
